<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.todoapi.mapper.CategoryMapper">
<!--    <resultMap id="CategoryResultMap" type="Category">-->
<!--        <id property="id" column="category_id"/>-->
<!--        <result property="userId" column="user_id"/>-->
<!--        <result property="name" column="name"/>-->
<!--        <result property="color" column="color"/>-->
<!--        <result property="icon" column="icon"/>-->
<!--        <result property="createdAt" column="created_at" />-->
<!--    </resultMap>-->

    <insert id="insert">
        insert into categories values
            (default, #{userId}, #{name}, #{color}, #{icon}, now())
    </insert>
    <select id="selectAll" resultType="com.korit.todoapi.entity.Category">

    </select>
    <select id="selectById" resultType="com.korit.todoapi.entity.Category">

    </select>
    <select id="selectByCategoryName" resultType="com.korit.todoapi.entity.Category">

    </select>


</mapper>