<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.todoapi.mapper.UserMapper">
    <resultMap id="UserResultMap" type="User">
        <id property="id" column="user_id"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="profileImage" column="profile_image"/>
        <result property="provider" column="provider"/>
        <result property="providerId" column="provider_id" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <resultMap id="CategoryResultMap" type="Category">
            <id property="id" column="category_id"/>
            <result property="userId" column="user_id"/>
            <result property="name" column="name"/>
            <result property="color" column="color"/>
            <result property="icon" column="icon"/>
            <result property="createdAt" column="created_at" />
        </resultMap>

    <insert id="insert">
        insert into users values
            (default, #{email}, #{nickname}, #{profileImage}, #{provider}, #{providerId}, now())
    </insert>

    <select id="selectByProviderId" resultType="com.korit.todoapi.entity.User">
        select
            id,
            email,
            nickname,
            profile_image,
            provider,
            provider_id,
            created_at
        from
            users
        order by
            id
    </select>
    <select id="selectById" resultType="com.korit.todoapi.entity.User">
        select
            id,
            email,
            nickname,
            profile_image,
            provider,
            provider_id,
            created_at
        from
            users
        order by
            id
    </select>
</mapper>